body {
  width: 100vw;
  margin: auto;
  text-align: center;
}

main {
  width: 100%;
  margin: auto;
}

.imgChange {
  display: inline;
  padding: 1rem 1.5rem;
  text-align: center;
  font-size: 1.2rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.imgChange:hover {
  cursor: pointer;
  color: white;
  background-color: #333;
}

.horn-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100vw;
  margin: 2rem auto;
}

.horn-section div {
  width: 80%;
  margin: 2rem auto;
}

img {
  width: 100%;
  border: 1px solid black;
  border-radius: 1rem;
}

@media (min-width: 768px) {
  .horn-section div {
    width: 30%;
  }
}
